/* *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  position: relative;
  color: black;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  line-height: 20px;
}

h4 {
  font-size: 18px;
  line-height: 18px;
}

.card {
  border: none;
}

/* HEADER */

.page-header {
  background-color: #f72210;
  font-family: "Roboto Condensed", sans-serif;
  max-width: 1310px;
  margin: 0 auto;
  padding: 10px 14px;
}

/* .header-left {
  display: none;
} */

.date {
  color: white;
}

.logo {
  fill: white;
  width: 132px;
}

.header-right {
  font-size: 1.1rem;
  display: inline-block;
}

.header-right i {
  color: white;
  opacity: 0.5;
  font-size: 1.6rem;
}

#signin {
  color: white;
}

#subscribe {
  background-color: white;
  color: #f72210;
  font-weight: 900;
  padding: 1px 10px;
}

#subscribe i {
  background-color: white;
  color: #f72210;
  font-size: 15px;
}

/* Content */

.box-title {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
  font-weight: bold;
}

/* OPINIONS */

.op-text {
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  font-size: 15px;
}

.op-subtext {
  color: gray;
  font-family: "Roboto Condensed", sans-serif;
}
